<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel=stylesheet href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body class="container-fluid text-center">
    <main class="col-6 mx-auto">
      <section class="subjects">
      {% for subject in subjects %}
        <article class="mx-auto text-center">
          <h2> {{subject.name}} </h2>
          <button type="button" class="btn btn-info btn-sm mr-2" onclick="location.href='{{url_for('subjectTopics',subject_id=subject.id)}}'"> Topics </button>
          <button type="button" class="btn btn-primary btn-sm mr-2" onclick="location.href='{{url_for('editSubject', subject_id=subject.id)}}'">Edit</button>
          <button type="button" class="btn btn-danger btn-sm mr-2" onclick="location.href='{{url_for('deleteSubject', subject_id=subject.id)}}'">Delete</button>
          <hr>
        </article>
      {% endfor %}
      </section>
      <button type="button" class="btn btn-success mt-4" onclick="location.href='{{url_for('newSubject')}}'"> New Subject </button>
    </main>
  </body>
</html>
