<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type='text/css' href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>

    <h1>{{subject.name}}</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2><a href = '{{url_for('newTopic', subject_id = subject.id)}}'>New Topic</a></h2>
    {% for topic in topics %}
      <div>
        <p>Topic:<strong> {{topic.name}} </strong></p>
        <p> Description: {{topic.description}} </p>

        <a href='{{url_for('editTopic', subject_id = subject.id, topic_id = topic.id) }}'>Edit</a>
        <br>
        <a href = '{{url_for('deleteTopic', subject_id = subject.id, topic_id = topic.id ) }}'>Delete</a>
      </div>
    {% endfor %}
  </body>

</html>
